<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://kit.fontawesome.com/a68be49ec6.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-blue-100">
    <header class="bg-blue-700">
      <div class="container mx-auto flex flex-row justify-between items-center">
        <nav class="py-4" role="navigation">
          <ul class="flex flex-row">
            <li class="px-4">
              <a class="font-serif text-lg text-blue-100 hover:text-white" href="#">Categories</a>
            </li>
            <li class="px-4">
              <a class="font-serif text-lg text-blue-100 hover:text-white" href="#">Posts</a>
            </li>
            <li class="px-4">
              <a class="font-serif text-lg text-blue-100 hover:text-white" href="#">Roles</a>
            </li>
            <li class="px-4">
              <a class="font-serif text-lg text-blue-100 hover:text-white" href="#">Users</a>
            </li>
            <li class="px-4">
              <a class="font-serif text-lg text-blue-100 hover:text-white" href="#">Tags</a
            ></li>
          </ul>
        </nav>
        <%= link "Logout",
          to: Routes.user_session_path(@conn, :delete),
          method: :delete,
          class: "font-serif text-lg text-blue-100 hover:text-white" %>
      </div>
    </header>
    <main role="main">
      <%= @inner_content %>
    </main>
  </body>
</html>
