<div class="bg-blue-200 px-4 py-8">
<%= for post <- @posts do %>
  <div class="bg-green-200 mb-8 p-4">
    <h2 class="text-2xl text-center font-semibold"><%= link post.title, to: Routes.post_path(@conn, :show, post) %></h2>
    <p class="text-lg"><%= post.body %></p>
  </div>
<% end %>
